apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: beanstash-production

resources:
  - ../../base
  - ingress.yaml
  - certificate.yaml
  - secrets.sops.yaml
  - middlewares.yaml
  - hpa.yaml

patches:
  - path: patches/backend-deployment-patch.yaml
  - path: patches/frontend-deployment-patch.yaml
  - path: patches/postgres-patch.yaml
  - path: patches/configmap-patch.yaml

# Add production-specific labels
labels:
  - pairs:
      app.kubernetes.io/instance: production
    includeSelectors: false

images:
  - name: beanstash-backend
    newName: ghcr.io/nickmous/beanstash-backend
    newTag: production-latest
  - name: beanstash-frontend
    newName: ghcr.io/nickmous/beanstash-frontend
    newTag: production-latest
