apiVersion: v1
kind: Service
metadata:
  name: beanstash-frontend-service
  labels:
    app.kubernetes.io/name: beanstash-frontend
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: beanstash-frontend
    app.kubernetes.io/component: frontend
